*{
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
 

}

body{
    background-image: url(image.jpg);
    background-size: cover;
}


.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

select{
    width: 100%;
}

textarea{
    outline: none;
}
@media(max-width: 768px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
}

button{
    width: 100%;
    background-color: #8A80F4;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
}



select{
    background-color: #8A80F4;
    color: white;
    border: none;
}

textarea{
    background-color: #8A80F4;
    color: white;
    border: none;
}


img{
    width: 200px;
}

